@import 'src/styles/vars';

.title {
  position: relative;
  width: 100%;
  flex: 0 1 100%;

  .title-image {
    border-radius:0.25rem;
    width: 100%;
    max-width: 100%;
  }

  .title-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: $colWhite;
    padding: 2rem;
    width: 100%;

    .h1 {
      font-size: 2.5rem;
      font-weight: bold;
      font-style: italic;
    }

    .info {
      margin-top: 0.5em;
    }
  }
}
