@import 'src/styles/vars';

.nav {
  width: $navWidth;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgba($mainColor, 0.1);
  // border-right: 4px solid $titleBackground;
  padding-top: 1rem;

  ul,
  .nav-item {
    display: block;
    // margin: 1rem 1.5em;
    margin: 1rem 1.5rem;
    color: #222;
    cursor: pointer;

    &:hover {
      color: #777;
      color: lighten($colBlack, 40);
    }

    &.nav-item-active {
      color: $mainColor;
      font-weight: bold;
    }
  }

  ul {
    cursor: inherit;
  }
}
